In [7]:
import pandas as pd

In [8]:
#read in original gis data
fl_gis=pd.read_csv("../Florida_GIS_data/PWS_GIS_data.csv")

In [9]:
fl_gis.shape

(5732, 31)

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
fl_gis.head(5)

,X,Y,GIS_PLANT_ID,PWS_OC1_OFFICE_ID,PWS_ID,PWS_STATUS,PWS_NAME,PWS_CITY,PWS_TYPE_CODE,PWS_TYPE,PWS_POP_SERVED,PWS_SUBPART_H,PWS_LAST_SAN_SURVEY,PWS_LAST_01_INSP,PWS_INSPECTOR_INITS,PWS_PRIMARY_SERVICE_AREA,PWS_OPERATOR,PLANT_ID,PLANT_NAME,PLANT_STATUS,PLANT_FOUR_LOG_REMOVAL,PLANT_LAT_DD,PLANT_LAT_MM,PLANT_LONG_DD,PLANT_LONG_MM,PLANT_COORDINATE_METHOD,PLANT_DATUM,PLANT_COORDINATE_DATE,PLANT_DESIGN_CAPACITY,PLANT_HEIGHT_ABOVE_ELLIPSOID,OBJECTID
0,245503.002308,690202.603482,1,NWD,1030050,ACTIVE,BAY COUNTY WATER SYSTEM,PANAMA CITY,C,COMMUNITY,39192,Y,2021/12/09 00:00:00+00,2013/12/27 00:00:00+00,LJ,COUNTY WIDE,SEAN LATHROP,1,PLANT #1,ACTIVE,N,30,12,85,36,DPHO,83,2002/10/02 00:00:00+00,60000000.0,NaN,1
1,251455.507057,683926.616248,4,NWD,1030141,ACTIVE,"CALLAWAY, CITY OF WATER SYSTEM",CALLAWAY,C,COMMUNITY,20520,Y,2024/05/03 00:00:00+00,2013/10/30 00:00:00+00,KH,MUNICIPAL/CITY,NaN,1,PLANT #1 (BUYS FROM BAY CO),ACTIVE,N,30,9,85,32,DPHO,27,2015/04/22 00:00:00+00,1.0,NaN,4
2,244523.079072,688509.952269,6,NWD,1030148,ACTIVE,"SPRINGFIELD, CITY OF",SPRINGFIELD,C,COMMUNITY,8083,Y,2021/12/09 00:00:00+00,2014/09/02 00:00:00+00,LJ,MUNICIPAL/CITY,NaN,1,BAY COUNTY 1030050,ACTIVE,N,30,11,85,37,UNVR,27,NaN,1.0,NaN,6
3,241542.801295,693734.184205,15,NWD,1030435,ACTIVE,"LYNN HAVEN, CITY OF WATER SYS.",LYNN HAVEN,C,COMMUNITY,23333,Y,2021/11/22 00:00:00+00,2014/06/11 00:00:00+00,LJ,MUNICIPAL/CITY,NaN,1,PLANT #1,ACTIVE,N,30,14,85,38,DPHO,83,2006/02/22 00:00:00+00,5832000.0,NaN,15
4,240672.725662,692064.532255,16,NWD,1030435,ACTIVE,"LYNN HAVEN, CITY OF WATER SYS.",LYNN HAVEN,C,COMMUNITY,23333,Y,2021/11/22 00:00:00+00,2014/06/11 00:00:00+00,LJ,MUNICIPAL/CITY,NaN,2,PLANT #2,ACTIVE,N,30,13,85,39,DPHO,83,2006/08/08 00:00:00+00,NaN,NaN,16

In [23]:
#function convert degrees and minute columns into common latitude and longitude
def ddmm_to_decimal(degrees, minutes):
    return degrees + (minutes / 60)

In [28]:
#apply ddmm_to_decimal function for latitude and longitude
fl_gis['PLANT_LAT_DECIMAL'] = fl_gis.apply(lambda row: ddmm_to_decimal(row['PLANT_LAT_DD'], row['PLANT_LAT_MM']), axis=1)
fl_gis['PLANT_LONG_DECIMAL'] = fl_gis.apply(lambda row: ddmm_to_decimal(row['PLANT_LONG_DD'], row['PLANT_LONG_MM']), axis=1)

In [29]:
#convert longitude coordinates to negative so it is recognized as west instead of east
fl_gis['PLANT_LONG_DECIMAL'] = -fl_gis['PLANT_LONG_DECIMAL']

In [30]:
#only keep locating data
gis_subset= fl_gis[["PWS_ID","PLANT_LAT_DECIMAL","PLANT_LONG_DECIMAL"]]

In [38]:
gis_subset=gis_subset.drop_duplicates(subset="PWS_ID")

In [39]:
gis_subset

       PWS_ID  PLANT_LAT_DECIMAL  PLANT_LONG_DECIMAL
0     1030050          30.200000          -85.600000
1     1030141          30.150000          -85.533333
2     1030148          30.183333          -85.616667
3     1030435          30.233333          -85.633333
5     1030467          29.933333          -85.400000
...       ...                ...                 ...
5719  4134619          25.816667          -80.783333
5720  2544504          29.616667          -81.700000
5723  2454387          30.666667          -81.516667
5727  4310005          27.700000          -80.500000
5728  4134620          25.916667          -80.783333

[4856 rows x 3 columns]

In [40]:
#store proper gis data
gis_subset.to_csv("../Clean_Data/gis_subset.csv",index=False)